@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
    <h3>Welcome to your Dashboard</h3>

    <p>
        <a href="/quiz">Attempt Quiz</a>
    </p>
</AuthorizeView>
